:host {
    display: block;
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.user-card {
    padding: 20px;
    border: 1px solid #d7e3ff;
    border-radius: 10px;
    background: #d7e3ff;
}

p {
    margin: 8px 0;
    font-size: 15px;

    strong {
        color: #333;
    }
}

.error {
    color: #d32f2f;
    font-weight: bold;
}

.loading {
    font-size: 16px;
    font-weight: 500;
}